@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
    
}
/* --------------- Navbar ---------------- */

.navbar{
    z-index: 100;
    width: 100%;
    top:0px;
}
.box{
/*    position: relative;*/
    
    height: 400px;
    width: 100%;
    background-size: cover;
    background-image: url( "../img/rogamers.jpg");
   
}

.reejuvi:hover{
    color: #846969;
    
}
.reejuvi-logo:hover{
    transform: scale(1.2)
    
}
.gcd{
 
font-size: 20px;
   

}
.gcdc{
line-height:0.5em;
padding-top: 50px;
color: #D2C4C5;
}

.gcdtxt{
	font-size:12px;
	color:green;
}

.xplore{
   
    border:1px solid gray;
    color:brown;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px ;
    font-size: 30px;
    padding:10px;
    background-color: rgba(89,216,85,1.00);
    
}
.xp{
     padding-top: 160px;
}

/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
    
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product{
    border: 1px solid black;
    overflow: hidden;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
.product h6 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color:  lightcoral;
font-size: 12px;
  text-align: center;
}

/* ---------------End of Products ---------------- */
.testy{
    color: white;
    width: 100%;
    height: auto;
    padding: 150px 40px;
    background-color: #242424;
   
     justify-content: center;
	
	flex-wrap: wrap;
}
.testy1{
    width: 200px;
    height: auto;
    background-color: #CDE2DF;
    vertical-align: middle;
    
    margin-left:13%;
    
     padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
   
    
}
.testy1 p{
	font-size:14px;
}
.testypic{
    background-color: aqua;
    border: 2px solid gray;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    padding-top: -200px;
}

.animateBlock {
  margin-top: 20px;
  display: inline-block;

  position: relative;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.animateBlock.left {
  left: -150%;
}

.animateBlock.right {
  right: -150%;
}

.left.animated {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.right.animated {
  right: 0%;
  opacity: 1;

}



.cont1{
    color: white;
    
    width: 100%;
    height: auto;
    background-color: #242424;
    padding: 50px 0px;
}
.ap{
  position: absolute;
margin-top: -40px;
	margin-bottom:40px;
font-size: 14px	
}
.mainform{
    width: 100%;
    height: auto;
    margin-left: 13%;
    font-size: 14px;
	justify-content:center;
}
.inp{
	width: 70%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 7px;
}
.msg{
	width: 70%;
	height: 200px;
	margin-top: 10px;
	border-radius: 7px;
}
.sms{
	
	margin-left: 15%;
	margin-top: 10px;
	padding:10px;
	
	border-radius: 7px;
	color: white;
	background-color: green;
	font-size: 18px;
}
.sms:hover{
	background-color: #333
}
.address{
    padding-top: 60px
}
.card-text{
    color: #f09d51;
}

/*FLY IN CSS*/
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}


/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}


.cart {
  position: fixed;
  
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
    
}
.cart-btn{
    position: relative;
    top: -15px;
    margin-left:-15px;
       

     
      
}
@media screen and (min-width: 900px) {

  .cart-btn{
     position: absolute;   
   right: 5%;
    top: 5px;
  
      z-index: 999;
      
}
    .fa-cart-plus{
    
/*    right: 3%;*/
}
}


.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-items {
   color: wheat;
/*
   position: absolute;
    top:-0.1em;
*/
}
.cart-item {
  
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
    margin-left: 20%;
 
    
}
.cart-item img {
  width: 120px;
  height: 75px;
/*    margin-left: 20%;*/
}
.cart-item h4 {
  font-size: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.1rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-cart-plus{
    position: absolute;
    color: #617540;
    font-size: 24px;
    top: 20px;
   
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
.right{
    margin-top: 80px;
}

@media screen and (min-width: 900px) {
	.right{
    margin-top: 0px;
}
    
      .cont1{
        display: flex;
    }
    .mainform {
        flex: 2;
    }
    .ics{
        flex: 1;
    }
    .address{
        flex: 1;
        padding-top: 70px;
    }
    .navbar{
        position: fixed;
    }
    .testy{
   
    display: flex;
    
   }
    .testy1{
        margin-right: 50px;
	width:400px;
    }
	.testy1 p{
		font-size:25px
	}
	#btt{
	
	height: 70px;
	width: 70px;
	}
	.mainform{
    width: 500px;
	}
	
.fa-chevron-up{
	font-size:30px;
}
.gcd{
 
font-size: 30px;

}
.trend{
font-size:30px;
}
.sms{
 font-size:20px;	
}

.itxt{
	font-size:22px;
}
	.ap{
font-size: 40px	
}
.gcdc{
line-height:0.8em;
     padding-top: 100px;
}

.gcdtxt{
	font-size:16px;
    
}
	.ics{
	margin-left:-60px;
	}
    
    .xp{
        padding-top: 100px;
    }


.testy{
   
    display: flex;
    
   }
    .testy1{
        margin-right: 50px;
	width:400px;
    padding-left:10px;
    padding-right:10px;
    }
	.testy1 p{
		font-size:25px
    }
     .navbar{
        position: fixed;
    }
}
